<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @grade.student.name%>
</p>

<p>
  <strong>Assignment name:</strong>
  <%= @grade.assignment_name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @grade.score %>
</p>

<p>
  <strong>Date:</strong>
  <%= @grade.date.strftime "%b %d, %Y" %>
</p>

<%= link_to 'Home', root_path %> |
<%= link_to 'Grade Index', grades_path %> |
<%= link_to 'Edit Grade', edit_grade_path(@grade) %>
