<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @grade.student.name%>
</p>

<p>
  <strong>Assignment:</strong>
  <%= @grade.assignment_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @grade.score %>
</p>


<%= link_to 'Home', root_path %>
<%= link_to 'Grade Index', grades_path %>
<%= link_to 'Edit Grade', edit_grade_path(@grade) if session[:teacher_id]%>
