<div class="col-md-9">

<p id="notice"><%= notice %></p>

<h1>Listing Assignments</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.name %></td>
        <td><%= assignment.date.strftime "%b %d, %Y" %></td>
        <td><%= link_to 'View Grades', assignment %></td>
        <td><%= link_to 'Edit Grades', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="5"><%= link_to '<i class="glyphicon glyphicon-plus"></i>'.html_safe, new_assignment_path %></td>
    </tr>
  </tbody>
</table>

<br>
</div>
