<div class="col-md-9">
<!-- <p id="notice"><%= notice %></p> -->

<h1>Teachers</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= link_to "#{teacher.name}", teacher %></td>
        <td><%= mail_to "#{teacher.email}" %></td>
        <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Delete', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="4"><%= link_to '<i class="glyphicon glyphicon-plus"></i>'.html_safe, new_teacher_path %></td>
    </tr>
  </tbody>
</table>

</div>
