
<section class="col-md-9">
  <h1><%= @teacher.name %></h1>
  <h4><%= mail_to "#{@teacher.email}"%></h3>
</section>
<section class="col-md-4">
  <% if @parents != [] %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Student</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= link_to "#{student.name}", student %></td>
          <td><%= mail_to "#{student.email}" %></td>
        <tr>
      <% end %>
        <tr>
          <td colspan="2"><%= link_to '<i class="glyphicon glyphicon-plus"></i>'.html_safe, new_student_path %></td>
        </tr>
      </tbody>
    </table>
  <% end%>
  <%= link_to 'Edit Teacher', edit_teacher_path(@teacher) %>
</section>
