<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<p>
  <% if @students %>
    <strong>Students: </strong>
    <br>
    <% @students.each do |student| %>
      <table>
        <tr>
          <td><%= link_to "#{student.name}", student %></td>
        </tr>
      </table>
    <% end %>
  <% end%>
</p>

<%= link_to 'Home', root_path %> |
<%= link_to 'Teacher Index', teachers_path %> |
<%= link_to 'Edit Teacher', edit_teacher_path(@teacher) %>
