<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @parent.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @parent.email %>
</p>

<p>
  <strong>Student:</strong>
  <%= @parent.student.name %>
</p>



<%= link_to 'Home', root_path %> |
<%= link_to 'Parent Index', parents_path %> |
<%= link_to 'Edit Parent', edit_parent_path(@parent) %>
