<!DOCTYPE html>
<html>
<head>
  <title>Gradebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div><% teacher = Teacher.find_by_id(session[:teacher_id])%>
  <%= "Welcome, #{teacher.name}!" if session[:teacher_id] %></div>
  <%= yield %>
  <div><%= link_to "Logout", sessions_logout_path %><div>
</body>
</html>
